@import "../../styles/mixins.scss";

.login-page {
  @include page;

  button {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #acacac;

    &.valid {
      background-color: #3fa76c;
      color: #fff;
    }
  }
}
